<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AG Automation - Regression Suite">

	<listeners>
		<listener class-name="sat.test.automation.utils.CustomListener" />
	</listeners>

	<test name="AG Regression Script Execution">
		<classes>
			<class name="sat.test.automation.scripts.AGScriptRunner" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
